In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [14]:
for i in range(1,5):
    url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'+str(i)

In [15]:
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [16]:
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []

In [17]:
movie_data = soup.findAll('div', attrs= {'class':'lister-item mode-advanced'})

In [18]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_relese = store.h3.find('span', class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(year_of_relese)
    
    runtime = store.p.find('span', class_='runtime').text.replace(' min','')
    time.append(runtime)
    
    rate = store.find('div', class_='inline-block ratings-imdb-rating').text.replace('\n','')
    rating.append(rate)
    
    meta = store.find('span', class_='metascore').text.replace('        ','') if store.find('span', class_='metascore') else '^^^^'
    metascore.append(meta)
    
    value = store.find_all('span', attrs = {'name': 'nv'})
    
    vote = value[0].text
    votes.append(vote)
    
    grosses = value[1].text if len(value) >1 else '*****'
    gross.append(grosses)

In [19]:
movie_Df = pd.DataFrame({'Name of the movie':movie_name, 'Year of relesing':year, 'Movie length':time, 'Rating of the movie':rating, 'Metascore':metascore, 'Votes':votes, 'Gross':gross})

In [21]:
movie_Df

,Name of the movie,Year of relesing,Movie length,Rating of the movie,Metascore,Votes,Gross
0,Dune: Part One,2021,155,8.3,75,"129,054",*****
1,Halloween,1978,91,7.7,87,"250,478",$47.00M
2,Casino Royale,2006,144,8.0,80,"616,109",$167.45M
3,Shang-Chi and the Legend of the Ten Rings,2021,132,7.9,71,"112,159",*****
4,Skyfall,2012,143,7.8,81,"660,823",$304.36M
...,...,...,...,...,...,...,...
95,Man on Fire,2004,146,7.7,47,"346,010",$77.91M
96,Whiplash,2014,106,8.5,88,"768,028",$13.09M
97,Arrival,II 2016,116,7.9,81,"638,369",$100.55M
98,Good Will Hunting,1997,126,8.3,70,"904,420",$138.43M
99,Wind River,2017,107,7.7,73,"225,937",$33.80M

In [22]:
movie_Df

,Name of the movie,Year of relesing,Movie length,Rating of the movie,Metascore,Votes,Gross
0,Dune: Part One,2021,155,8.3,75,"129,054",*****
1,Halloween,1978,91,7.7,87,"250,478",$47.00M
2,Casino Royale,2006,144,8.0,80,"616,109",$167.45M
3,Shang-Chi and the Legend of the Ten Rings,2021,132,7.9,71,"112,159",*****
4,Skyfall,2012,143,7.8,81,"660,823",$304.36M
...,...,...,...,...,...,...,...
95,Man on Fire,2004,146,7.7,47,"346,010",$77.91M
96,Whiplash,2014,106,8.5,88,"768,028",$13.09M
97,Arrival,II 2016,116,7.9,81,"638,369",$100.55M
98,Good Will Hunting,1997,126,8.3,70,"904,420",$138.43M
99,Wind River,2017,107,7.7,73,"225,937",$33.80M

In [12]:
movie_Df.to_csv('top100imdb.csv')